<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Card Game Demo</title>
</head>

<body>

    <div class="container" data-ng-app="cgApp">
        <div class="game-container" data-ng-controller="CardGameCtrl as ctrl">

            <div class="board">
                <div class="cards">
                    <div class="card" data-ng-repeat="card in ctrl.cardList" data-ng-click="ctrl.clickCard(card)">
                        <img src="/img/{{card.cardValue}}.png" id="{{card.cardID}}" quelimg="card-{{card.cardValue}}" class="card-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <script type="text/javascript" src="bower_components/bootstrap/dist/css/bootstrap.css"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">

</body>

</html>