<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Card Game Demo</title>
</head>

<body>

    <div class="container" data-ng-app="cgApp" data-ng-controller="CardGameCtrl as ctrl">

        <div class="row">
            <!-- Control div -->
            <div class="col-sm-2">
                <div class="control-container">
                    <span class="glyphicon glyphicon-time icon-control" title="Time"></span>
                    <span class="secondes ng-cloak" title="Time"> {{ctrl.times}}</span>
                    <span class="glyphicon glyphicon-random icon-control" title="Move"></span>
                    <span class="moves_value ng-cloak" title="Move"> {{ctrl.moves}}</span>

                    <div class="play-button-guide">
                        <div data-ng-if="ctrl.victoryMessage" class="ng-cloak">{{ctrl.victoryMessage}}</div>
                        <span>Press <button id="start-btn" class="btn btn-lg btn-success start-button" data-ng-click="ctrl.clickStart()"><span class="glyphicon glyphicon-play-circle"></span></button> to play</span>
                    </div>
                </div>
            </div>
            <!-- End of Control div -->
            <!-- Main game div -->
            <div class="game-container ng-cloak">
                <div class="board">
                    <div class="cards semi-transparent">
                        <div class="card" data-ng-repeat-start="card in ctrl.cardList" data-ng-click="ctrl.clickCard(card)">
                            <img src="/img/{{card.cardValue}}.png" id="{{card.cardID}}" quelimg="card-{{card.cardValue}}" class="card-image ng-cloak">
                        </div>
                        <br data-ng-repeat-end data-ng-if="(($index+1)%6 == 0)"></br>
                    </div>
                </div>
            </div>
            <!-- End of Main game div -->
        </div>

    </div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    </script>
    <link rel="stylesheet" type="text/css" href="css/main.css">

</body>

</html>